= form_for(@message) do |f|
  - if @message.errors.any?
    %div#error_explanation
      %h2
        = pluralize(@message.errors.count, "error")
        prohibited this message from being saved:
      %ul
        - @message.errors.full_messages.each do |msg|
          %li #{msg}

  %div.field
    = f.label :name
    %br/
    = f.text_field :name

  %div.field
    = f.label :email
    %br/
    = f.text_field :email

  %div.field
    = f.label :message
    %br/
    = f.text_area :message

  %div.actions
    = f.submit
