<h1>Listing tutors</h1>

<table>
  <tr>
    <th></th>
    <th>Name</th>
    <th>Role</th>
    <th></th>
  </tr>

<% @tutors.each do |tutor| %>
  <tr>
    <td>

      <%= link_to(image_tag(tutor.thumb_path,
                            {width: '75', title: tutor.name, alt: tutor.name}),
                            tutor.image_path,
                            {class: 'lightbox'}) if tutor.thumb_path %>
    </td>
    <td><%= link_to tutor.name, edit_tutor_path(tutor) %></td>
    <td><%= tutor.role %></td>
    <td><%= link_to 'Destroy', tutor, method: :delete,
                     data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tutor', new_tutor_path %>
