<p>
  <b>Name:</b>
  <%= @tutor.name %>
</p>
<p>
  <b>Role:</b>
  <%= @tutor.role %>
</p>
<p>
  <%= link_to(image_tag(@tutor.thumb_path,
                        {width: '125', title: @tutor.name, alt: @tutor.name}),
                        @tutor.image_path,
                        {class: 'lightbox'}) if @tutor.thumb_path %>
</p>
<p>
  <b>Profile:</b>
  <%= @tutor.profile %>
</p>


<%= link_to 'Edit', edit_tutor_path(@tutor) %> |
<%= link_to 'Back', tutors_path %>
