<h1>Listing schedules</h1>

<table>
  <tr>
    <th>Course</th>
    <th>Venue</th>
    <th>Age group</th>
    <th>Start time</th>
    <th>End time</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @schedules.each do |schedule| %>
  <tr>
    <td><%= schedule.course_id %></td>
    <td><%= schedule.venue_id %></td>
    <td><%= schedule.age_group_id %></td>
    <td><%= schedule.start_time %></td>
    <td><%= schedule.end_time %></td>
    <td><%= link_to 'Show', schedule %></td>
    <td><%= link_to 'Edit', edit_schedule_path(schedule) %></td>
    <td><%= link_to 'Destroy', schedule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Schedule', new_schedule_path %>
