%p
  %b Course: #{@schedule.course_id}

%p
  %b Venue: #{@schedule.venue_id}

%p
  %b Age group: #{@schedule.age_group_id}

%p
  %b Start time: #{@schedule.time_start}

%p
  %b End time: #{@schedule.time_end}

= link_to 'Edit', edit_schedule_path(@schedule)
|
= link_to 'Back', schedules_path
