<%= form_for(@cost) do |f| %>
  <% if @cost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cost.errors.count, "error") %> prohibited this cost from being saved:</h2>

      <ul>
      <% @cost.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :half_term_price %><br />
    <%= f.number_field :half_term_price %>
  </div>
  <div class="field">
    <%= f.label :full_term_price %><br />
    <%= f.number_field :full_term_price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
