<h1>Listing costs</h1>

<table>
  <tr>
    <th>Description</th>
    <th>Half term price</th>
    <th>Full term price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @costs.each do |cost| %>
  <tr>
    <td><%= cost.description %></td>
    <td><%= cost.half_term_price %></td>
    <td><%= cost.full_term_price %></td>
    <td><%= link_to 'Show', cost %></td>
    <td><%= link_to 'Edit', edit_cost_path(cost) %></td>
    <td><%= link_to 'Destroy', cost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cost', new_cost_path %>
