<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @cost.description %>
</p>

<p>
  <b>Half term price:</b>
  <%= @cost.half_term_price %>
</p>

<p>
  <b>Full term price:</b>
  <%= @cost.full_term_price %>
</p>


<%= link_to 'Edit', edit_cost_path(@cost) %> |
<%= link_to 'Back', costs_path %>
