<% @title = 'Classes' %>
<% @description = 'Classes' %>


<h1>Classes#index</h1>

<% @age_groups.in_groups(2).transpose.each do |age_group_group| %>

<% age_group_group.each do |age_group|  %>
  <div>
    <table>
      <tr>
        <th>
  <%= age_group.header  %>
        </th>
      </tr>
<% age_group.schedules.each do |schedule| %>
      <tr>
        <td>
          <%= schedule.time_start.to_formatted_s(:time)  %> -
          <%= schedule.time_end.to_formatted_s(:time)  %>
          <%= schedule.course.name  %>
          <%= " (#{schedule.venue.name})" unless schedule.venue.blank? %>
        </td>
      </tr>
  <% end %>
     </table>
  </td>

  <% end %>

  </div>
<% end %>

<% @costs.each do |cost| %>
<%= cost.description %>

<% end %>

