%h1 Listing news_items

%table
  %tr
    %th Heading
    %th Body
    %th
    %th

  - @news_items.each do |news_item|
    %tr
      %td
        = news_item.heading
      %td
        = news_item.body_formatted.html_safe
      %td
        = link_to 'Edit', edit_news_item_path(news_item)

      %td
        = link_to 'Destroy', news_item,
                  method: :delete,
                  data: { confirm: 'Are you sure?' }
%br/

= link_to 'New News item', new_news_item_path
